#latest_news {
  width: 100%;
}
#latest_news h1 {
  text-align: center;
  color: red;
}
#latest_news h1::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 37px;
  height: 1px;
  margin: -20px auto;
  content: '';
  opacity: 1;
  color: black;
}
